DATABASE_DRIVER=mysql+mysqlconnector
DATABASE_HOST={host}
DATABASE_PORT={port}
DATABASE_USERNAME={username}
DATABASE_PASSWORD={password}
DATABASE_NAME={database_name}

SLACK_WEBHOOK={https://hooks.slack.com/services/....}
SVN_BINARY_PATH={svn path/usr/bin/svn}
SSH_AUTHENTICATE_FILE={ssh_public_key}
SSH_PASSPHRASE={ssh_public_key_passphrase}
ROOT_PASSWORD={server_root_password}